<h1>Listing posts</h1>
<% if current_user %>
  <%= link_to 'New Post', new_post_path %>
<% end %>

<div class='modal'></div>

 <% @posts.each do |post| %>
     <%= tag("div", :class => "post", :data => {:id => post.id, :title => post.title, :body => post.body, :url => post.image_url.to_s }) %>
      <div class="image">
        <%= link_to post_path(post.id) do %>
        <%= image_tag(post.image_url.to_s)%>
      <% end %>
      </div>
    </div>
  <% end %>



