// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div {
  height: 100%;
  min-height: 100%;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
}

.post-container {
  position: absolute;
  top: 60%;
}

img {
  position: absolute;
  width: 400px;
  padding: 10px;
  }

* {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}  

.modal {
  background-color: white;
  display: none;
  padding: 0%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 15vh;
  left: 25vw;
  right: 25vw;
  opacity: 1;
  z-index: 2;
  font-family: 'Quicksand', sans-serif;
}

.modal.post-content {
  z-index: 5;
  opacity: 1;
  position: relative;
  margin-top: 10%;
  clear: both;
  background-color: red;
}


.close-modal {
  float: right;
  padding: 3%;
}

#header {
  position: absolute;
  bottom: 60%;
  width: 100%;
  border-bottom: 0.5em solid black;
  font-family: 'Syncopate', sans-serif;
}

#header h1 {
  color: black;
  font-size: 5em;
  text-align: center;
}
