// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-container {
  min-height: 100%;
  width: 90%;
}

.post {
  position: absolute;
  width: 20%;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  
img {
  position: relative;
  width: 90%;
}

.modal {
  background-color: black;
  display: none;
  padding: 2%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  height: 650px;
  width: 600px;
  top: 15vh;
  bottom: 15vh;
  left: 25vw;
  right: 25vw;
  opacity: 1;
  z-index: 2
}

.modal img {
  z-index: 5;
  opacity: 1;
}
.close-modal {
  float: right;
  padding-bottom: 2%;
}

