h1 {
  font-size: 5em;
  text-align: center;
}

.blurb {
  display: none;
  position: absolute;
  text-align: justify;
  background-color: white;
  border: 0.5em solid black;
  border-radius: 20%;
  width: 30%;
  margin: 20% 0 40% 0;
  padding: 2%;
}


.image-bubble {
  position: absolute;
  border-radius: 50%;
  width: 15%;
  height: 35%;
  margin: 20% 5% 20% 5%;
}

.right {
  right: 12%;
}

.left {
  left: 12%;
}

#one, #two {
  top: -10%;
}

/*#two {
  top: 20%;
}*/

#three, #four {
  top: 50%;
}

/*#four {
  top: 60%;
}*/

#five, #six {
  top: 110%;
}

/*#six {
  top: 100%;
}*/

.blurb#one, .blurb#three, .blurb#five {
  right: 30%;
}

.blurb#two, .blurb#four, .blurb#six {
  left: 30%;
}


.image-bubble:hover {
  width: 27%;
  height: 60%;
}