h1 {
  font-size: 5em;
  text-align: center;
  font-family: 'Syncopate', sans-serif;
}

.title {
  text-align: center;
  text-decoration: underline;
}

.blurb {
  display: none;
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  text-align: justify;
  background-color: white;
  border: 0.2em solid black;
  border-radius: 20%;
  width: 30vw;
  margin: 20vw 0 40vw 0;
  padding: 2vw;
}


.image-bubble {
  position: absolute;
  border-radius: 50%;  
  height: 20vw;
  width: 20vw;
  margin: 20vw 5vw 20vw 5vw;
}


.right {
  right: 5vw;
}

.left {
  left: 5vw;
}

#one, #two {
  top: 20vh;
}

#three, #four {
  top: 80vh;
}

#five {
  top: -5vh;  left: 34.5vw;
}

#six {
  top: 75vh;  left: 35vw;
}

.blurb#one, .blurb#three, .blurb#five {
  right: 30vw;
}

.blurb#two {
  width: 40vw;
  margin: 45vh 0 0 17vw;
}

.blurb#three {
  margin: 17vh 2vw 0 0;
}
.blurb#four {
  margin: 5vh 0 0 0;
  left: 31vw;
 }


.blurb#five {
  margin: 45vw 0 0 -1.5vw;
}

.blurb#six {
  margin: 65vh 0 0 0;
  left: 8vw;
  width: 80vw;
  border-radius: 25%;
}

.image-bubble#six{
  top: 60vh;
}

.image-bubble#one:hover, .image-bubble#two:hover {
 top: -5vh;
}

.image-bubble#three:hover, .image-bubble#four:hover {
 top: 66vh;
}

.image-bubble#six:hover {
 top: 40vh; 
 left: 33.5vw;
}

.image-bubble#five:hover {
 top: -15vh; right: 33.5vw;
}

.image-bubble:hover {
  width: 33vw;
  height: 33vw;
  margin-left: 0;
}

.image-bubble.right:hover {
  margin-right: 0vw;
}


@media only screen and (orientation: portrait){
.image-bubble {
  width: 50vw;  height: 50vw; 
}

.blurb {
  border-radius: 5vw !important;  
  width: 50vw !important;
}

.blurb#one, .blurb#three, .blurb#five {
  right: 5vw;
}

.blurb#two, .blurb#four, .blurb#six{
  left: 5vw;
}

#one {
  top: 20vh;
}

.image-bubble#one:hover {
  top: 20vh;
  width: 50vw;  height: 50vw; 
}

#two {
  top: 50vh;
}

.image-bubble#two:hover {
  top: 50vh;
  width: 50vw;  height: 50vw; 
}

.blurb#two {
  top:30vh;
}

#three {
  top: 80vh;
}

.image-bubble#three:hover {
  top: 80vh;
  width: 50vw;  height: 50vw; 
}

#four {
  top: 110vh;
}
.image-bubble#four:hover {
  top: 110vh;
  width: 50vw;  height: 50vw; 
}

#five {
  left: 5vw !important;
  top: 140vh !important;
}

.image-bubble#five:hover {
  top: 140vh;
  width: 50vw;  height: 50vw; 
}

.blurb#five {
  right: 5vw !important;
}

#six {
  right: 5vw ;
  top: 170vh !important;
}

.image-bubble#six:hover {
  top: 170vh !important;
  width: 50vw;  height: 50vw ; 
}

.blurb#six {
  top: 120vh !important;
}

}
